@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.bg-home {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/public/images/home.avif);
}

.bg-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/public/images/background.avif);
}

.img-about {
  background-image: url(/public/images/about.avif);
}

.navbar-home li {
  @apply hover:text-yellows transition duration-300;
}

header.sticky {
  @apply backdrop-blur-sm bg-greys/70 fixed;
}
